@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");


:root {
  --brand-white: #ffffff;
  --brand-grey: #e0dbe3;
  --brand-red: #a5343a;
  --brand-black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* max-width: 1200px; */
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    margin-top: 5rem;
}

hr {
  
  margin-bottom: 1rem;
}

.root-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: none;
}

.header {
  background-color: var(--brand-red);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 1200px; */
  /* position: relative; */

  height: 75px;
}

.header a {
  text-decoration: none;
  color: var(--brand-white);
}

#desktop-menu{
  display: none;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  /* border: 2px solid blue; */
  gap: .5rem;
  
}

.header ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
 
  display: block;
  cursor: pointer;
  /* border: 2px solid magenta; */
}

#hamburger-icon svg {
  fill: var(--brand-white);
  width: 40px;
  height: 40px;
}

/* #hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
} */

/* .open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
} */

.mobile-menu {
  display: none;
  position: absolute;
  top: 75px;
  left: 0;
  height: calc(100vh- 50px);
  width: 100%;
  padding-top: 3rem;
 /* border: 2px solid magenta; */
}

.mobile-menu.closed  {
  display: none;
}
.mobile-menu.open{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  background-color: var(--brand-red);
}
/* 
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--brand-red);
} */

.mobile-menu li {
  margin-bottom: 10px;
}



@media (min-width: 768px) {
  #desktop-menu {
    display: block;
  }

  #desktop-menu ul {
    display: flex;
    gap: 1rem;
  }

  #hamburger-icon {
    display: none;
  }
}

/* .navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
} */

/* .nav-link {
  @apply mx-4 px-6 py-2 text-white;
}

.active {
  @apply text-white;
  background-color: #000000;
} */

/* .home-icon {
  margin-right: auto;
} */

/* .header nav ul {
  display: flex;
  list-style-type: none;
  color: var(--brand-white);

  gap: 1.5rem;
} */

/* .dropdown-items {
  display: flex;
  flex-direction: column;
} */

/* .hidden {
  display: none;
} */

/* .header .nav-item {
  text-decoration: none;
  color: var(--brand-white);
  margin: 0 1rem;
} */

.benzene-icon {
  width: 40px;
  /* border: 2px solid greenyellow; */
  /* position: absolute;
  right: 50%; */
}

@keyframes benzene-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .benzene-icon {
    animation: benzene-spin infinite 40s linear;
  }
}

.page-title {
  font-size: 2rem;
  text-align: center;
  /* background-color: var(--brand-grey); */
  margin: 2rem 0;
}

.intro-section {
  /* background-color: var(--brand-grey); */

  max-width: 900px;
  margin: 0 auto;
}

/* .intro-grid {
  border: 2px solid green;
} */

.professor-name {
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.intro-section h2 {
  text-align: center;
  font-size: 1.2rem;
}

.intro-section .intro-photo {
  width: 50%;
  display: block;
  margin: 2rem auto;
  border-radius: 5px;
  max-width: 300px;
}

.intro-section .link-to-article {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--brand-red);
  margin-top: 1rem;
}

.intro-section .about,
.intro-section .degrees {
  margin: 2rem 0 0.3rem 0;
}

.about {
  border-top: 1px solid var(--brand-black);
  padding-top: 2rem;
}

.intro-section p {
  text-align: justify;
}

/* .section-divider-container {
  display: flex;
  width: 100%;
}

.section-divider {
  background-color: var(--brand-grey);
  fill: var(--brand-white);
  padding: 0;
} */

.page-content {
  padding: 2rem;

  /* background-color: var(--brand-grey); */
}

.resources-layout {
  text-align: center;
}

.resource-links-container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.link-to-resources {
  text-decoration: none;
  color: var(--brand-black);
}

.active-navLink {
  font-weight: bold;
  text-decoration: underline;
}

/* .link-to-resource {
  text-decoration: none;
   border: 2px solid var(--brand-black); 
   padding: .5rem 1rem;
  box-shadow: 0px 0px 5px var(--brand-grey);
  color: var(--brand-black);
} 

.link-to-resource:focus {
  background-color: var(--brand-grey);
} */

.book-info-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: -2rem;
}

.book-info-container > p {
  margin: 1rem 0;
  text-align: justify;
}

.download-link-container {
  text-align: center;
  margin-bottom: 2rem;
}

.multiple-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.download-link-container a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--brand-red);
  color: var(--brand-white);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

/*.alt-nav-container {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; */
  /* margin-top: 2rem;
  padding: 2rem 0;
  border-top: 1px solid var(--brand-black); */

  /* border: 2px solid greenyellow; 
}

/* .alt-nav-section {
   display: flex;
  flex-direction: column;  */

  /* text-align: center;
  margin-bottom: 3rem; */
  /* gap: 1rem;
  align-items: center; 
} */

/* .alt-nav-section h3 {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
} */

/* .alt-nav-item {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;

  max-width: 300px;
  text-align: center;
  background-color: var(--brand-black);
  color: var(--brand-white);
  font-size: 1.2rem;
  text-decoration: none;
  padding: 1rem;
  border-radius: 5px;
}

.alt-nav-item:hover {
  background-color: var(--brand-red);
} */

.book-container {
  margin-bottom: 5rem;
}

.book-container a {
  text-decoration: none;
  color: var(--brand-black);
}

.book-card {
  margin: 0 auto;
  /* text-align: center; */
  background-color: var(--brand-white);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  max-width: 300px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.book-card--image {
  max-width: 200px;
}

.book-card h2,
.page-content .book-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}

.book-card .subtitle {
  margin-bottom: 0;
  margin-top: 0.3rem;
  font-size: 1rem;
  text-align: center;
}

.book-card p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.book-container .more-info-btn {
  display: block;
  margin: 0 auto;
  margin-top: 1.2rem;
  border: none;
  background-color: var(--brand-red);
  color: var(--brand-white);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.inner-content {
  max-width: 600px;
  margin: 0 auto;
}

.inner-content .subheading {
  font-size: 1rem;
}

/* .inner-content h2 {
  margin-bottom: 1rem;
} */

.videos {
  text-align: center;
}

.videos h2 {
  margin-top: 0;
 
}

.video-list {
  list-style-type: none;
  margin: 0 auto;
  margin-top: 1.5rem;
  font-size: 1rem;
  max-width: 400px;
}

.video-list li {
  margin-bottom: 1.5rem;
}

.video-list a {
  text-decoration: none;
  color: var(--brand-white);
  display: block;
  background-color: var(--brand-black);
  padding: 1rem 2rem;
  border-radius: 5px;
}

.video-list a:hover {
  background-color: var(--brand-red);
}

/* .research h2 {
  font-size: 1.2rem;
} */

.research-list {
  list-style-type: none;
}

.research-list li {
  margin-bottom: 1rem;
}

.research-list li img {
  display: block;
  margin: 0 auto;
}

.benzene-divider {
  width: 20px;
  fill: var(--brand-black);
}

/* .research-group h2,
.courses h2,
.education h2 {
  font-size: 1.5rem;
} */

.research-group p,
.courses ul {
  margin-bottom: 1.2rem;
  margin-top: 0.3rem;
}

.education h3 {
  margin-bottom: 0.5rem;
}

.education ol  {
  margin-bottom: 1.3rem;
  list-style-type:upper-roman;
  list-style-position: inside;
  
}

.education ol li {
  margin-bottom: .5rem;
}
.education p {
  margin-bottom: 0.5rem;
}

.courses ul {
  list-style-type: none;
}

.courses {
  margin-top: 3rem;
}


.textbook-list > li,
.presentations-list > li,
.publications-list > li,
.interviews-list > li {
  list-style-type: none;
  /* border: 2px solid blue; */
  margin: 1rem 0 2rem 0;
}

.textbook-list ul {
  /* border: 2px solid greenyellow; */
  list-style-type: none;
  margin-top: 1rem;
}

.textbook-list ul li {
  margin-bottom: 0.5rem;
}

.textbook-list h3 {
  font-weight: 700;
  font-size: 1.1rem;
}

.footer {
  background-color: var(--brand-black);
  color: var(--brand-white);
  padding: 1rem;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 0.1em;
  margin-top: auto;
}

.footer a {
  text-decoration: none;
  color: var(--brand-white);
  font-style: normal;
}

@media (min-width: 768px) {
  .intro-grid {
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .intro-grid img {
    grid-column: 1/ 2;
    grid-row: 1 / span 5;
  }
  .intro-grid h1 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .intro-grid h2 {
    grid-column: 2/3;
    grid-row: 3 / 4;
  }

  .intro-grid a {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

  /* .alt-nav-link-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
  }
  .alt-nav-item {
    margin: 0;
    width: auto;
    padding: 0.5rem 1rem;
    min-width: 200px;
  } */
  /* .alt-nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .alt-nav-section {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
  }
  .alt-nav-section h3 {
    min-height: 60px;
  }
  .alt-nav-link-section {
    display: block;
  }
  .alt-nav-item {
    margin-bottom: 1rem;
  }
} */
/* @media (min-width: 1024px) {
  .home-layout-container {
    display: flex;
    max-width: 1200px;
  }
  .sidebar {
    width: 100px;
    background-color: var(--brand-red);
  }
} */
/* @media (min-width: 1024px) {
  .alt-nav-container {
    display: flex;
    justify-content: space-between;
  }
  .alt-nav-section {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
  }
  .alt-nav-section h3 {
    min-height: 60px;
    margin: 1rem 1rem 1rem 0;
  }
  .alt-nav-link-section {
    display: block;

    border: 2px solid blueviolet;
  }
  .alt-nav-item {
    margin-bottom: 1rem;
  }
} */
